# exclude itself
.gitignore
.gitignore~
# exclude preferences Finder
.DS_Store
# exclude topic
tp.pdf
# exclude inital zip
Repository.zip
# exclude JAR
jus.util.jar
# exclude .class
/bin/
# exclude .classpath
.classpath
